.input-box-btn {
    height: 62px !important;

    input {
        width: fit-content;
        padding: 0 62px 0 40px !important;

        @include media-breakpoint-down(md) {
            padding: 0 62px 0 20px !important;
        }

        &::placeholder {
            color: #000 !important;
        }
    }

    .input-button {
        width: 50px !important;
        height: 50px !important;
    }
}