// slick-overflow
.slick-overflow {
    overflow: hidden;

    .slick-slider {
        .slick-list {
            overflow: visible;
        }
    }
}

// TEXT OVERFLOW CSS
.text-truncate {
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
}

.text-truncate2 {
    -webkit-line-clamp: 2;
}

.text-truncate3 {
    -webkit-line-clamp: 3;
}

.text-truncate4 {
    -webkit-line-clamp: 4;
}

.text-truncate5 {
    -webkit-line-clamp: 5;
}

.text-truncate6 {
    -webkit-line-clamp: 6;
}

.text-truncate8 {
    -webkit-line-clamp: 8;
}

// CONTAINER AND ROW CSS
.container {
    @include media-breakpoint-up(xxl) {
        max-width: 1165px;
        padding-left: 0;
        padding-right: 0;
    }

    @include media-breakpoint-down(lg) {
        padding-left: 22px;
        padding-right: 22px;
    }
}

.containerX {
    @include media-breakpoint-up(xxl) {
        max-width: 1095px;
    }
}

.containerS {
    @include media-breakpoint-up(xxl) {
        max-width: 1320px !important;
    }
}

.row {
    margin-left: 0 !important; 
    margin-right: 0 !important;

    &>* {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.rowA {
    margin-left: -15px !important;
    margin-right: -15px !important;

    &>* {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.rowB {
    margin-left: -11px !important;
    margin-right: -11px !important;

    &>* {
        padding-left: 11px !important;
        padding-right: 11px !important;
    }
}

.rowX {
    margin-left: -20px !important;
    margin-right: -20px !important;

    &>* {
        padding-left: 20px !important; 
        padding-right: 20px !important;
    }
}

.rowS {
    margin-left: -18px !important;
    margin-right: -18px !important;

    &>* {
        padding-left: 18px !important;
        padding-right: 18px !important;
    }
}

.text-truncate-none {
    @include media-breakpoint-down(lg) {
        text-overflow: initial !important;
        -webkit-line-clamp: initial !important;
    }
}

.px-p-0 {
    @include media-breakpoint-down(lg) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.mx-m-0 {
    @include media-breakpoint-down(lg) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.pe-p-0 {
    @include media-breakpoint-down(lg) {
        padding-right: 0 !important;
    }
}

.ps-p-0 {
    @include media-breakpoint-down(lg) {
        padding-left: 0 !important;
    }
}

.px-p-p {
    @include media-breakpoint-down(lg) {
        padding-left: 22px !important;
        padding-right: 22px !important;
    }
}

.mx-m-0 {
    @include media-breakpoint-down(lg) {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.res-w-100 {
    @include media-breakpoint-down(lg) {
        width: 100% !important;
    }
}

.res-max-w-100 {
    @include media-breakpoint-down(lg) {
        max-width: 100% !important;
    }
}

.fw-lg-semibold {
    @include media-breakpoint-down(lg) {
        font-weight: 600 !important;
    }
}

.fw-lg-normal {
    @include media-breakpoint-down(lg) {
        font-weight: 400 !important;
    }
}

.h-0 {
    @include media-breakpoint-down(lg) {
        height: 0px !important;
    }
}

.tpt-0 {
    @include media-breakpoint-down(lg) {
        padding-top: 0 !important;
    }
}

.drop-shadow {
    filter: drop-shadow(#0000002E 0 0 30px) !important;
}

.box-shadow {
    box-shadow: 0px 85px 50px rgba(0, 0, 0, 0.1607843137);
}

.no-box-shadow {
    @include media-breakpoint-down(lg) {
        box-shadow: 0px 0px 0px !important;
    }
}